<!-- <mat-accordion> -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Product Information
        </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="productForm" novalidate>
        <div layout="row" *ngIf="!selectedProduct.id; else displayidro">
            <mat-form-field flex>
                <input matInput placeholder="Product Id" type="text" formControlName="id">
                <mat-error align="end">
                    <span *ngIf="id.hasError('required')">id is required</span>
                    <span *ngIf="!id.hasError('required') && id.hasError('idExists')">Id already exists</span>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- make ID readOnly -->
        <ng-template #displayidro>
            <mat-form-field flex style="margin-bottom: 1rem;font-weight: bolder;" color="accent">
                <input matInput [readonly]="true" placeholder="Product ID" formControlName="id">
            </mat-form-field>
            <br />
        </ng-template>
        <br />
        <div layout="row">
            <mat-form-field>
                <mat-select placeholder="Vendor" formControlName="vendorid" value="vendorid">
                    <mat-option *ngFor="let vendor of vendors" [value]="vendor.id">{{vendor.name}}</mat-option>
                </mat-select>
                <mat-error flex *ngIf="vendorid.errors && (vendorid.dirty || vendorid.touched)" align="end">
                    <p align="end" mat-pad-xs *ngIf="vendorid.hasError('required')">Choose Vendor</p>
                </mat-error>
            </mat-form-field>
        </div>
        <br />
        <div layout="row">
            <mat-form-field flex>
                <input matInput placeholder="Product Name" type="text" formControlName="name">
                <mat-error *ngIf="name.errors && (name.dirty || name.touched)" align="end">Product Name
                    is required
                </mat-error>
            </mat-form-field>
        </div>
        <br />
        <div layout="row">
            <mat-form-field flex>
                <input matInput placeholder="MSRP" type="number" formControlName="msrp">
                <mat-error align="end">
                    <span *ngIf="msrp.hasError('required')">MSRP is required</span>
                    <span *ngIf="!msrp.hasError('required') && msrp.hasError('invalidDecimal')">Need Decimal Number For
                        input</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div layout="row">
            <mat-form-field flex>
                <input matInput placeholder="Cost Price" type="number" formControlName="costprice">
                <mat-error align="end">
                    <span *ngIf="costprice.hasError('required')">Cost Price is required</span>
                    <span *ngIf="!costprice.hasError('required') && costprice.hasError('invalidDecimal')">Need Decimal
                        Number For input</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-expansion-panel>
<!-- </mat-accordion> -->

<br />
<!-- <mat-accordion> -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Inventory Information
        </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="inventoryForm" novalidate>
        <div layout="row">
            <mat-form-field flex>
                <input matInput placeholder="ROP" type="number" formControlName="rop">
                <mat-error align="end">
                    <span *ngIf="rop.hasError('required')">ROP Price is required</span>
                    <span *ngIf="!rop.hasError('required') && rop.hasError('invalidInt')">Need Int Number For
                        input</span>
                </mat-error>
            </mat-form-field>
        </div>
        <br />
        <div layout="row">
            <mat-form-field flex>
                <input matInput placeholder="EOQ" type="number" formControlName="eoq">
                <mat-error align="end">
                    <span *ngIf="eoq.hasError('required')">EOQ Price is required</span>
                    <span *ngIf="!eoq.hasError('required') && eoq.hasError('invalidInt')">Need Int Number For
                        input</span>
                </mat-error>
            </mat-form-field>
        </div>
        <br />
        <div layout="row">
            <mat-form-field flex>
                <input matInput placeholder="QOH" type="number" formControlName="qoh">
                <mat-error align="end">
                    <span *ngIf="qoh.hasError('required')">QOH Price is required</span>
                    <span *ngIf="!qoh.hasError('required') && qoh.hasError('invalidInt')">Need Int Number For
                        input</span>
                </mat-error>
            </mat-form-field>
        </div>
        <br />
        <div layout="row">
            <mat-form-field flex>
                <input matInput placeholder="QOO" type="number" formControlName="qoo">
                <mat-error align="end">
                    <span *ngIf="qoo.hasError('required')">QOO Price is required</span>
                    <span *ngIf="!qoo.hasError('required') && qoo.hasError('invalidInt')">Need Int Number For
                        input</span>
                </mat-error>
            </mat-form-field>
        </div>
        <br />

    </form>
</mat-expansion-panel>

<!-- QR Code Panel -->
<br />
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            QRCode Information
        </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="qrCodeForm" novalidate>
        <div layout="row">
            <mat-form-field flex>
                <input matInput placeholder="QRCode Text" type="text" formControlName="qrTxt">
                <mat-error align="end">
                    <span *ngIf="qrTxt.hasError('required')">ROP Price is required</span>
                </mat-error>
            </mat-form-field>
        </div>
        <br />
        <div>QR CODE: </div>
        <img style="display:block;" [src]="'data:image/png;base64,' + selectedProduct.qrcode"/>
        <br />
    </form>
</mat-expansion-panel>
<!-- </mat-accordion> -->
<br />
<div class="mat-pad-sm">
    <span>
        <button mat-raised-button [disabled]="!productForm.valid" type="button"
            (click)="updateSelectedProduct()">Save</button>
    </span>
    <span>
        <button *ngIf="selectedProduct.id" mat-raised-button type="button"
            (click)="deleted.emit(selectedProduct)">Delete</button>
    </span>
    <span>
        <button mat-raised-button type="button" (click)="cancelled.emit(selectedProduct)">Cancel</button>
    </span>
</div>