<mat-toolbar color="primary">
    <span>Products</span>
</mat-toolbar>
<mat-card *ngIf="hideEditForm" style="margin-bottom: 10vh;">
    <mat-card-header layout="row">
        <!-- <mat-card-title style="margin-bottom: 4vh;">
            
        </mat-card-title> -->
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="centerheader">Product No.</div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <!-- Date Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="center-header">Name</div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <!-- Employee Id Column -->
            <ng-container matColumnDef="vendorid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="centerheader">Vendor #ID</div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.vendorid}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)">></tr>
        </table>
        <div class="padtop15">
            <mat-icon (click)="newProduct()" matTooltip="Add New Product" class="addicon" color="primary">
                control_point
            </mat-icon>
        </div>
    </mat-card-content>
    <span class="my-primary-text">{{ msg }}</span>
</mat-card>
<mat-card *ngIf="!hideEditForm">
    <mat-card-header layout="row">
        <mat-card-title><span>{{ msg }}</span></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-product-detail [selectedProduct]="selectedProduct" [vendors]="Vendors$ | async" [products]="products$ | async"
            (cancelled)="cancel('cancelled')" (saved)="save($event)" (deleted)="delete($event)">
        </app-product-detail>
    </mat-card-content>
</mat-card>
<mat-paginator [length]=size [pageSize]=5></mat-paginator>